:root:has(.mode input:checked) {
  --primary-hue: 35;
  --primary-lightness: 44%;
  --primary-saturation: 72%;
  --light-hue: 0;
  --light-saturation: 0%;
  --light-lightness: 9%;
  --color-default: #fff;
  --color-scecondary: #fff;
  --color-tertiary: #9f9f9f;
  --color-light: rgb(23, 23, 23);
  --color-light-gray: rgb(37, 37, 37);
  --section-bg-2: rgb(32, 32, 32);
}

body:has(.mode input:checked) .mode .light {
  display: block;
}

body:has(.mode input:checked) .mode .dark {
  display: none;
}

body:has(.mode input:checked) #chefs .chef-1-dark,
body:has(.mode input:checked) #chefs .chef-2-dark,
body:has(.mode input:checked) #chefs .chef-3-dark {
  display: block;
}

body:has(.mode input:checked) #chefs .chef-1-light,
body:has(.mode input:checked) #chefs .chef-2-light,
body:has(.mode input:checked) #chefs .chef-3-light {
  display: none;
}
