:root {
  /** colors   */
  --color-default: #212529;
  --primary-hue: 0;
  --primary-saturation: 84%;
  --primary-lightness: 44%;
  --color-primary: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-lightness)
  );
  --color-scecondary: #37373f;
  --color-tertiary: #7f7f90;
  --light-hue: 0;
  --light-saturation: 0%;
  --light-lightness: 100%;
  --color-light: hsl(
    var(--light-hue),
    var(--light-saturation),
    var(--light-lightness)
  );

  --color-light-gray: #eee;
  --section-bg-2: #fff;

  /** Fonts  */

  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;

  /** Animation options */
  --animation-duration: 400ms;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-default);
  color: var(--color-default);
}

a,
span {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

ul {
  list-style-type: none;
}

/*todo Reapeated Styles*/

.section-bg {
  background-color: var(--color-light-gray);
}

.section-bg-2 {
  background-color: 32, 32, 32;
}

.btn {
  --background-color: transparent;
  --color: var(--color-light);
  --padding: 0.3125rem 0.75rem;
  --border-width: 0.125rem;
  --border-color: transparent;
  --border-radius: 0rem;
  --hover-bg-color: transparent;
  --hover-color: transparent;
  --font-size: 1rem;

  padding: var(--padding);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  color: var(--color);
  font-size: var(--font-size);
  cursor: pointer;
  transition: background-color var(--animation-duration),
    color var(--animation-duration);
}

.btn:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-color);
}

img {
  width: 100%;
}

.main-title {
  text-align: center;
  padding-block: 2.5rem;
}

.main-title h2 {
  color: #7f7f90;
  text-transform: uppercase;
  font-weight: 400;
  font-family: var(--font-secondary);
  font-size: 0.875rem;
}

.main-title p {
  font-weight: 400;
  font-size: 3.125rem;
  font-family: var(--font-primary);
}

.main-title p span {
  color: var(--color-primary);
}

/* todo =============== Container ============== */

.container {
  --padding: 2.5rem 0.3125rem;
  --margin-top: 0;
  --margin-bottom: 0;
  width: 100%;
  padding: var(--padding);
  margin-top: var(--margin-top);
  margin-bottom: var(--margin-bottom);
  margin-inline: auto;
}

/* ! =============== Nav bar ==============  */

.nav-bar {
  background-color: var(--color-light);
  width: 100%;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.106) 0px 0px 14px 0px;
}

body:has(#nav-links:target) .nav-bar {
  height: 100vh;
  background-color: #fff5;
}

body:has(#nav-links:target) .nav-bar .container ul {
  transform: translate(0);
  transition: transform var(--animation-duration);
}

.nav-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  --padding: 1.5625rem 0.3125rem;
}

.nav-bar .container ul {
  display: flex;
  gap: 1.875rem;
}

h1 {
  font-weight: 700;
  font-size: 1.875rem;
}

h1::after {
  content: ".";
  color: var(--color-primary);
}

.nav-bar ul li a {
  font-weight: 600;
  size: 1.0625rem;
  color: var(--color-tertiary);
  position: relative;
  transition: color var(--animation-duration);
}

.nav-bar ul li a:hover {
  color: var(--color-default);
}

.nav-bar ul li a::after {
  content: "";
  background-color: var(--color-primary);
  width: 0%;
  height: 0.125rem;
  left: 0;
  bottom: -0.3125rem;
  position: absolute;
  transition: width var(--animation-duration);
}

.nav-bar ul li a:hover::after {
  width: 100%;
}

.nav-bar i {
  font-size: 1.5625rem;
  cursor: pointer;
}
.nav-bar .light {
  display: none;
}
body:not(:has(:target)) .home-link,
body:has(#home:target) .home-link,
body:has(#chefs:target) .chefs-link,
body:has(#gallery:target) .gallery-link,
body:has(#contact:target) .contact-link {
  color: var(--color-default);
}
body:not(:has(:target)) .home-link::after,
body:has(#home:target) .home-link::after,
body:has(#chefs:target) .chefs-link::after,
body:has(#gallery:target) .gallery-link::after,
body:has(#contact:target) .contact-link::after {
  width: 100%;
}

.menu-icon-nav {
  font-size: 1.625rem;
  display: none;
}

.nav-bar ul .x-mark {
  display: none;
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem;
  color: var(--color-tertiary);
  font-size: 1.375rem;
}

/* todo =============== Header ============== */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 86px;
}

header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-block: auto;
}

header .container > * {
  width: 40%;
}

.container .header-content h2 {
  font-family: var(--font-primary);
  font-size: 4.0625rem;
  color: var(--color-scecondary);
}

.container .header-content p {
  color: var(--color-scecondary);
  font-size: 1rem;
  margin-block: 1.25rem;
  line-height: 1.625rem;
}

.btn-group {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}

.btn-main {
  --background-color: var(--color-primary);
  --border-radius: 0 100vh 100vh;
  --padding: 0.5rem 1.25rem;
  --font-size: 0.9375rem;
  --hover-bg-color: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    calc(var(--primary-lightness) + 10%)
  );
  --hover-color: var(--color-light);
}

.btn2-hdr {
  display: flex;
  gap: 0.9375rem;
  --color: var(--color-scecondary);
  font-family: var(--font-secondary);
  align-items: center;
  z-index: 100;
  transition: color var(--animation-duration);
}

.btn2-hdr:hover {
  color: var(--color-primary);
}

.icon-header-play {
  background-image: linear-gradient(
    to right,
    var(--color-primary) 0% 50%,
    transparent 50% 100%
  );
  height: 55px;
  width: 55px;
  border-radius: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
}
.icon-header-play::before {
  content: "";
  background-color: var(--color-light);
  height: 40px;
  width: 40px;
  top: 1;
  left: 1;
  position: absolute;
  border-radius: inherit;
  z-index: 100;
}

i {
  z-index: 200;
}

header picture {
  filter: drop-shadow(0 0 0.625rem #0006);
}
header picture:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/*todo ===============Chefs ============== */
/** GAY */
.mo3ak picture img {
  aspect-ratio: 1/1;
}
/** GAY */

#chefs .container {
  padding-bottom: 5rem;
}

#chefs {
  background-color: var(--section-bg-2);
}

#chefs .container .chefs-cards {
  --gap: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  text-align: center;
}

#chefs .container .chefs-card {
  width: calc(calc(100% - var(--gap) * 2) / 3);
  border-radius: 0.625rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.106) 0px 0px 14px 0px;
  transition: scale var(--animation-duration);
  background-color: var(--color-light);
  position: relative;
}

#chefs .container .chefs-card:hover {
  scale: 1.1;
}

#chefs .chefs-cards .chefs-card .card-content {
  padding-inline: 30px;
  padding-bottom: 30px;
}

#chefs .card-content h3 {
  font-weight: 700;
  font: 1.1875rem;
  font-family: var(--font-secondary);
}

#chefs .card-content span {
  font-weight: 400;
  color: var(--color-tertiary);
  font-size: 0.875rem;
}

#chefs .card-content p {
  font-weight: 400px;
  font-style: italic;
  color: var(--color-tertiary);
  font-size: 0.9375rem;
}

#chefs .chefs-cards .chefs-card .chef-1-dark,
#chefs .chefs-cards .chefs-card .chef-2-dark,
#chefs .chefs-cards .chefs-card .chef-3-dark {
  display: none;
}

.chefs-icons-social {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  color: #98918e;
  font-size: 1.125rem;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1.25rem 0.9375rem;
  border-radius: 0.3125rem;
  position: absolute;
  top: 25px;
  right: 15px;
  transform: translateX(150%);
  transition: transform calc(var(--animation-duration) / 2);
}

.chefs-card:hover .chefs-icons-social {
  transform: translatex(0%);
  transition: transform var(--animation-duration) ease var(--animation-duration);
}

.chefs-icons-social i {
  transition: color var(--animation-duration);
}

.chefs-icons-social a {
  z-index: 500;
}

.chefs-icons-social i:hover {
  color: #4a494f;
}

/*todo =============== Gallery ============== */
#gallery {
  background-color: var(--color-light-gray);
}
.gallery-items {
  display: flex;
  --gap: 1.25rem;
  gap: var(--gap);
  flex-wrap: wrap;
  flex-direction: column;
  height: 1200px;
}

.gallery-items picture img {
  width: 100%;
  transition: scale var(--animation-duration);
}

.gallery-items picture {
  width: calc(calc(100% - var(--gap) * 2) / 3);
  border: 5px white solid;
  position: relative;
  overflow: hidden;
}
.gallery-items picture:hover img {
  scale: 1.1;
}

.gallery-items picture:hover::after {
  top: 0;
}

.gallery-items picture::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(00, 00, 00, 0.5);
  transition: top var(--animation-duration);
}

.gallery-items picture .layer {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  text-align: center;
  color: white;
  font-family: var(--font-secondary);
  transition: top var(--animation-duration);
  z-index: 500;
}

.gallery-items picture:hover .layer {
  top: 40%;
}

.gallery-items picture .layer h3 {
  font-weight: 700;
  font-size: 1.5rem;
}

.gallery-items picture .layer span {
  padding-top: 0.625rem;
  width: 80%;
  font-weight: 400;
}
